@model IEnumerable<Kullanici>

<h2>Kullanıcı Listesi</h2>
<a href="/Kullanici/Create" class="btn btn-primary">Kullanıcı Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(u => u.KullaniciId)</th>
            <th>@Html.DisplayNameFor(u => u.KullaniciAd)</th>
            <th>@Html.DisplayNameFor(u => u.KullaniciSoyad)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.KullaniciAd)</td>
                    <td>@Html.DisplayFor(modelItem => item.KullaniciAd)</td>
                    <td>@Html.DisplayFor(modelItem => item.KullaniciSoyad)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.KullaniciId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.KullaniciId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Model boş.</p>
        }
    </tbody>
</table>